# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.production

# Docker (local only)
compose.yaml
docker-compose.yml

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
logs/
*.log
