# Node.js bağımlılıkları 
node_modules/

# Çevresel değişkenler 
.env
.env.local
.env.*
!.env.example

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# Log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*

pgdata/