services:
  postgres:
    image: postgres:18
    container_name: postgres-db
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - "5431:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 5s
      retries: 5
      start_period: 5s

  nodeapp:
    build: ./server
    container_name: node-app
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
      - /app/node_modules 
    command: npm run dev
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  pgdata:
